.Bill-intro {
  text-align: center;
}

.Bill-logo {
  animation: Bill-logo-spin infinite 20s linear;
  height: 80px;
}

.Bill-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Bill-intro {
  font-size: large;
  background-color: rgba(245, 245, 245, 0.8) !important;
  width: auto;
  font-weight: bold !important;
}


#create-new-bill-btn {
  margin-top: 1em;
  margin-bottom: 5em;
  background: #25262C;
  color: #ffffff;
  border: 1px solid grey;
}

#take-photo-btn {
  margin-bottom: 1em;
  margin-bottom: 1em;
  background: #25262C;
  color: #ffffff;
  border: 1px solid grey;
}

#take-photo-btn:focus {
  box-shadow: 0 0 0 2pt #25262C;
  outline: 0;
}

#take-photo-btn:hover {
  background: #222222;
}

#create-new-bill-btn:hover {
  background: #222222;
}

#create-new-bill-btn:focus {
  box-shadow: 0 0 0 2pt #25262C;
  outline: 0;
}

.well-lg {
  background-color: rgba(245, 245, 245, 0.8) !important;
}

.totals-text {
  background-color: rgba(245, 245, 245, 0.8) !important;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 180px;
  font-weight: bold;
}

.lead {
  font-size: 2em !important;
}

.shortLink {
  margin-left: 2em;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
