.Bill-intro {
  text-align: center;
}

.Bill-logo {
  animation: Bill-logo-spin infinite 20s linear;
  height: 80px;
}

.Bill-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Bill-intro {
  font-size: large;
}

#create-new-bill-btn {
  margin-top: 1em;
  margin-bottom: 5em;
}

.well-lg {
  background-color: rgba(245, 245, 245, 0.7) !important;
}

.lead {
  font-size: 2em !important;
}

.uploadBill {
  padding: 1.4em;
}

.Enter-items-below {
  padding: 0.5em;
  font-size: 1.5em;
}

#take-photo-btn {
  margin-right: 2em;
  margin-bottom: 1em;
}

#manual-btn {
  margin-bottom: 1em;
}

.shortLink {
  margin-left: 2em;
}

