.BillItem {
  margin-bottom: 0.5em;
}

.quantity {
  width: 9em;
  padding-right: 0em;
  display: inline-block;
}

.price {
  width: 12.7em;
  display: inline-block;
}

.description {
  display: inline;
}

